/* Hauptfarben für das Hell-Schema */
:root {
    --primary-color: #00d1b2;
    --background-color: #ffffff;
    --text-primary-color: #363636;
    --text-secondary-color: #ffffff;
}

/* Dark Mode Farben */
.dark-mode {
    --primary-color: #ffdd57;
    --background-color: #232323;
    --text-primary-color: #e0e0e0;
    --text-secondary-color: #363636;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

.navbar {
    background-color: var(--background-color);
}

.footer {
    background-color: transparent;
}

.navbar {
    margin-bottom: 50px;
}

.post-list__item {
    list-style: none;
    margin-bottom: 40px;
}

.title a {
    color: var(--text-primary-color);
}

.tag a {
    color: var(--text-secondary-color);
}

.tag.is-white a {
    color: var(--text-primary-color);
}

.tag-cloud a {
    display: inline-block;
    margin: 0 5px 10px 5px;
}

.post-detail__tags {
    display: flex;
    justify-content: space-between;
}

.post_detail__content {
    margin-top: 25px;
}

.post_detail__content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear-image img {
    margin: 0;
}

.token.tag,
.token.content,
.token.number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}

.nav-item-active {
    font-weight: bold;
}

.post_detail__content p {
    text-align: justify;
}

.post-list__item {
    text-align: justify;
}

a[href].direct-link,
a[href].direct-link:visited {
    color: transparent;
}

.navbar-brand__title {
    font-size: 1.3rem;
    font-weight: bold;
}

.image-subline {
    color: black;
    font-size: 0.8rem;
    margin-top: -20px;
}

.tag-list {
    margin-bottom: 25px;
}

.tag-list span {
    margin-right: 5px;
}

.categorie-item a .tag {
    margin: 10px 5px 0px 5px;
}

.favorites-list a {
    margin-top: 10px;
    display: inline-block;
}

.xl-padding-right-50 {
    margin-right: 50px;
}

pre {
    counter-reset: lineNumber;
}
code .highlight-line:before {
    -webkit-user-select: none;
    border-right: 1px solid #404040;
    color: #858585;
    content: counter(lineNumber);
    counter-increment: lineNumber;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin-right: 1.2em;
    padding-right: 1.2em;
    text-align: right;
    width: 1.9em;
}

.post-navigation li {
    list-style: none;
}

td,
th {
    text-align: justify !important;
}

.language-hint {
    text-align: right;
    padding-bottom: 15px;
}

.dark-mode .subtitle {
    color: #c0c0c0;
}

.dark-mode .tag.is-black a {
    color: #e0e0e0;
}

.dark-mode .panel {
    border: 1px solid white;
}

.dark-mode a.navbar-item,
.navbar-link {
    color: white;
}

.dark-mode a.navbar-item:hover,
.navbar-link:hover {
    color: black;
}

.dark-mode h2 {
    color: #c0c0c0;
}

.dark-mode h3 {
    color: #c0c0c0;
}

.dark-mode .title {
    color: #c0c0c0;
}

@media screen and (max-width: 768px) {
    .xl-padding-right-50 {
        margin-right: 0;
    }
}
