body{
  font-family: verdana, arial, sans-serif;
  background-color: #efefef;
}

h1{
  font-size: 1.8rem;
  color: #0275d8;
}
h3{
  font-size: 1.5rem;
}

h5{
  font-size: 1rem;
}

.pt-15{
  padding-top: 10px;
}


.pt-20{
  padding-top: 20px;
}

.pb-25{
  padding-bottom: 25px;
}

.mb-25{
  margin-bottom: 25px;
}

.sideMenu{
  margin-bottom: 20px;
}

.sideMenu > .card{
  border-bottom: 0;
}

.sideMenu > .card:last-of-type{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.hMenu{
  margin: 0.2rem 0 0 0;
  font-size: .9rem;
}

.card-block.subMenuList{
  padding: 0 0 0 0;
}

.card-block.subMenuList ul{

}

.card.menu{
  border-radius: 0;
}

.card-block.subMenuList li{
  border-radius: 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: .2rem 1.25rem;
}
.card-block.subMenuList li:last-of-type{
  border-bottom: 0;
}

.card-header.menuitem{
  padding: 0.3em 1.25rem;
  text-align: left;
  border-bottom: 0;
}

.card-header.menuitem a{
  color: black;
  text-decoration: none;
}

.footer-content{
  text-align: center;
  border-top: 4px solid cornflowerblue;
  font-size: 12px;
}

.container-fluid{
  text-align: justify !important;
  max-width: 1110px;
}

.container-fluid.rightAlign{
  margin-right: 0;
}




.navbar{
  padding: .1rem 2rem;
  padding-right: 4em;

}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: 0rem;
}

.jumbotron {
    display: flex;
    background-image: url("../images/sky.jpg");
    background-color: #6a8aff;
    margin-bottom: 0;
    min-height: 19%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 4rem 0 0 2rem;
    border-radius: .3rem .3rem 0 0;
}

.site-logo{
    margin-top: -48px;
    height: 150px;
    order: 2;
    position: relative;
    left: -20px;
    
}

.site-title {
    font-family: verdana, sans-serif;
    text-align: justify;
    font-size: 2rem;
    text-shadow: 0 0 10px grey;
}

.site-subtitle{
  word-wrap: break-word;
  display: block;
}

.title-container{
  text-align: left;
  order: 1;
}

.entry-media > .media{
  margin-bottom: 25px;
}

.shadow{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

.frontMedia{
  padding: 5px;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .full-size{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .menuitem h5{
    text-align: center;
  }
}


@media (min-width: 845px) {
  .site-subtitle{
    text-align: right;
  }
}

@media (min-width: 544px) {

  .site-title{
      font-size: 3.5rem;
  }

  .site-logo{
    margin-top: -22px;
    height: 165px;
  }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

  .title-container{
    order: 2;
    margin-left: 15px;
    line-height: 1;
  }

  .site-logo{
    order: 1;
    position: static;
    left: 0;
    margin-top: -55px;
    height: 155px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
 
}

/* XS styling */
@media (max-width: @screen-xs-max) {
  .container {
    width: inherit;
  }
}

/* SM styling */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .container {
    width: inherit;
  }
}


.white{
  background-color: white;
}

.reset-padding{
  padding: 0;
}